:root {
    --header-text: aliceblue;
    --link-color : #0becec;
    --dark-blue-text: rgb(23, 23, 100);
    --h1-text: rgb(11, 11, 48);
    --purple : #450b53;
    --background-color: #bcc1ee;
}

header {
    position: relative;
    text-align: center;
}

main {
    background-color: var(--background-color);
}
nav {
    position: absolute;
    top: 15%;
    right: 0%;
    color: var(--header-text);
    font-size: 3vmin;
    font-weight: 700;
}
section {
    padding-left: 3vw;
}
a {
    text-decoration: none;
    color: var(--link-color);
}

nav a {
    transition: all 0.2s ease-in-out;
}

nav a:visited {
    color: var(--purple);
}

nav a:hover {
    color: var(--dark-blue-text);
    font-size: 150%;
}

h1 {
    padding-bottom: .25em;
    font-size: 3em;
    text-decoration: underline;
    color: var(--h1-text);
}

h2 {
    font-size: 2em;
    color: var(--h1-text);
}

h3 {
    font-size: 1.5em;
    color: var(--h1-text);
    padding-bottom: 0.5em;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav ul li {
    padding-left: 3vw;
    padding-right: 3vw;
}

ul {
    padding-bottom: 1.25em;
}

li {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.05em;
}

p {
    font-size: 1.5vw;
    line-height: 2vw;
    width: 50%;
}

.name {
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 2%;
    color: var(--header-text);
    font-size: 5vw;
}

.flex-container {
    width: auto;
    height: 30em;
    display: flex;
    flex-direction: column;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}

.flex-container img {
    height: 17.38em;
    width: 26em;
}

.flex-container .top {
    padding-top: 1.5em;
}

.flex-container .bottom {
    flex: 1;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container .bottom p {
    width: 40%;
    padding-left: 3.5em;
}

/* pushes the elements below the header of each section to the right*/
.bottom > * {
    margin-right: 1.5em;
}

.projects-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10em;
}

.project {
    position: relative;
    display: inline-block;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

.project p {
    position: absolute;
    color: var(--header-text);
    font-size: 2.2em;
    z-index: 2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    line-height: 1.25em;
}
.project img {
    height: 12em;
    width: auto;
}

.project img:hover {
    filter: brightness(50%);
}

.project img:hover + p {
    opacity: 1;
}


/* Adds a tooltip when hovering over Resume in the navbar */
.resume:hover::after {
    border: 1px solid var(--link-color);
    position: absolute;
    top: 5em;
    right: 14em;
    color: var(--link-color);
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    content: "Click Here to View my Resume";
    padding: 5px 5px;
}