:root {
    --header-text: aliceblue;
    --link-color : #0becec;
    --dark-blue-text: rgb(23, 23, 100);
    --h1-text: rgb(11, 11, 48);
    --purple : #450b53;
    --background-color: #bcc1ee;
}

header {
    position: relative;
    text-align: center;
}

main {
    background-color: var(--background-color);
}
nav {
    position: absolute;
    top: 15%;
    right: 0%;
    color: var(--header-text);
    font-size: 3vmin;
    font-weight: 700;
}
section {
    padding-left: 3vw;
}
a {
    text-decoration: none;
    color: var(--link-color);
}

nav a {
    transition: all 0.2s ease-in-out;
}

nav a:visited {
    color: var(--purple);
}

nav a:hover {
    color: var(--dark-blue-text);
    font-size: 150%;
}

h1 {
    font-size: 3em;
    text-decoration: underline;
    color: var(--h1-text);
}

ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

ul li {
    padding-left: 3vw;
    padding-right: 3vw;
}

p {
    font-size: 1.25vw;
    line-height: 2vw;
    width: 50%;
}

.name {
    position: absolute;
    text-decoration: none;
    top: 50%;
    left: 2%;
    color: var(--header-text);
    font-size: 5vw;
}

.flex-container {
    width: auto;
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
}

.flex-container .top {
    padding-top: 30px;
}

.flex-container .bottom {
    flex: 1;
    padding-top: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

/* pushes the elements below the header of each section to the right*/
.bottom > * {
    margin-right: 1.5em;
}

/* Adds a tooltip when hovering over Resume in the navbar */
.resume:hover::after {
    border: 1px solid var(--link-color);
    position: absolute;
    top: 4em;
    right: 14em;
    color: var(--link-color);
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    content: "Click Here to View my Resume";
    padding: 5px 5px;
}